@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>ManicaLandUniversity</h1>
</div>
<img id="HomeImage" src="~/images/university.jpg" alt="university" />
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ManicaLand University</h2>
        <p>
            ManicaLand University is a state of the art higher education tertiary instution, created to educated and empower the local
            community of the ManicaLand province.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Track Students and enrolledments</h2>
        <p>
            This application was designed with two thing in mind

        </p>
        <ul>
            <li>Register students</li>
            <li>Track students </li>
        </ul>
        <p>You can track and edit student`s currently registered and the courses they are currenlty enrolled in.</p>
        <p>You can register new students and add them to the school database.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visit Our Sister School</h2>
        <p>Found in outskirts of Mutare.</p>
        <p><a class="btn btn-default" href="https://africau.edu/">Visit Africa University;</a></p>
    </div>
</div>